$dark-blue: #1565ab;
$yellow: #ffdd00;
$charcoal:#272d37;
$red: #e31837;

//Structure
$container-width: 1280px;


$color-1: #666;
$accent-1: $charcoal;
$color-3: #333;
$color-4: inherit;
$color-5: #4e4e4e;
$color-6: #3e3e3e;
$color-7: #555;
$color-8: #fff;
$color-9: rgba(0,0,0,.6);
$color-10: #999;
$color-11: #82c0c7;
$color-12: #ccc;
$color-13: #bcc8c9;
$color-14: #000;
$color-15: rgba(255,255,255,.7);
$color-16: #bbb;
$color-17: #9f9f9f;
$color-18: #7cc68d;
$color-19: #c37cc6;
$accent-10: #cd5c5c;
$accent-11: #edb059;
$accent-12: rgba(255,255,255,.6);
$accent-13: #974df3;
$accent-14: red;
$accent-15: rgba(255,255,255,.8);
$accent-16: #aaa;
$accent-17: #b2b2b2;
$accent-18: rgba(0,0,0,.5);
$primary-font-family: 'Lato',Arial,sans-serif;
$font-family-2: Courier New,monospace;
$font-family-3: inherit;
$icon-font: ETmodules;
$font-family-5: "Open Sans",sans-serif;
$font-family-6: dashicons;
$background-color-1: #fff;
$background-color-2: #2ea3f2;
$background-color-3: #eee;
$background-color-4: #ececec;
$background-color-5: rgba(0,0,0,.2);
$background-color-6: rgba(0,0,0,.03);
$background-color-7: transparent;
$background-color-8: #222;
$background-color-9: #1f1f1f;
$background-color-10: rgba(0,0,0,.32);
$background-color-11: rgba(255,255,255,.05);
$background-color-12: #f3f3f3;
$background-color-13: #ddd;
$background-color-14: rgba(255,255,255,.5);
$background-color-15: #e2e2e2;
$background-color-16: rgba(0,0,0,.05);
$background-color-17: #7e3bd0;
$background-color-18: rgba(255,255,255,.2);
$background-color-19: #fcfcfc;
$background-color-20: #bebebe;
$background-color-21: #1f6581;
$background-color-22: rgba(0,0,0,.35);
$background-color-23: rgba(51,51,51,.5);
$background-color-24: #333;
$background-color-25: #f4f4f4;
$background-color-26: #e8e8e8;
$background-color-27: rgba(0,0,0,.3);
$background-color-28: #f9f9f9;
$background-color-29: rgba(255,255,255,.9);
$border-color-1: #2d3940;
$border-color-2: #2ea3f2;
$border-color-3: #7cc68d;
$border-color-4: #c37cc6;
$border-color-5: #cd5c5c;
$border-color-6: #edb059;
$border-color-7: #333;
$border-color-8: #ccc;
$border-color-9: #666 transparent transparent transparent;
$border-top-color-1: #eee;
$border-top-color-2: rgba(0,0,0,.1);
$border-bottom-color-1: #d9d9d9;
$border-bottom-color-2: #2ea3f2;

$rfs-two-dimensional:true;


// SASS Variables
