.et_pb_custom_blog_row {
    &.et_pb_blog_0_tb_body {
.et_pb_post:hover {
    .entry-title a {
        color: $charcoal!important;
    }
}
    }
    .et_pb_salvattore_content {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        @include breakpoint-up(lg) {
            margin-left: -1.5rem;
            margin-right: -1.5rem;
        }
    }
    .entry-title {
        margin-top: 0;
        @include margin-bottom(1.5rem);
        @include font-size(24px);
        a {
            text-decoration: none;
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }
    .column {
        @include margin-bottom(3rem);
        border-bottom: 1px solid mix($charcoal, $white, 5%);
    }
    .et_pb_post {
        @include breakpoint-up(lg) {
            margin-bottom: 0;
            transition: all 1s ease;
            border-bottom: none;
            border-radius: 3px;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            flex: 1;
            &:hover {
                background-color: mix($blue, $white, 5%);
            }
        }
        position: relative;
        @include margin-bottom(3rem);
        @include breakpoint-up(lg) {
            margin-bottom: 0;
        }
        .entry-title {
            a {
                color: inherit;
                text-decoration: none;
                &:hover {
                    color: $charcoal;
                }
                &:focus {
                    box-shadow: none;
                    background-color: inherit;
                }
            }
        }
        .published {
            background: #fff;
            position: absolute;
            @include padding(0.5rem);
            border-radius: 5px;
            box-shadow: 0px 5px 20px #0000001a;
            top: 210px;
            right: 1.5rem;
            @include breakpoint-up(md) {
                right: -0.75rem;
            }
            font-weight: 700;
            @include font-size(14px);
            font-family: "Montserrat";
            color: $charcoal;
        }
        p {
            color: mix($charcoal, $white, 80%);
            @include font-size(18px);
        }
    }
    .et_pb_image_container {
        @include margin-bottom(3rem);
    }
}
.et_pb_module {
    .pagination {
        a {
            text-decoration: none;
            border: 1px solid rgba($charcoal, 0.9);
            padding: 0.75rem 1rem;
            color: $charcoal;
            font-weight: 600;
            border-radius: 3px;
            @include font-size(18px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:focus {
                outline: none;
                box-shadow: 0 0 0 0.25rem rgba($charcoal, 0.5);
            }

            border-color: mix($charcoal, $white, 30%);
            color: mix($charcoal, $white, 60%);

            &:hover {
                border-color: mix($charcoal, $white, 50%);
                color: mix($charcoal, $white, 80%);
            }
        }
    }
}
.et_pb_custom_blog_single {
    .et_pb_title_container h1 {
        @include rfs(4.209rem, margin-top);
        @include font-size(4.209rem);
        @include rfs(3.5rem, margin-bottom);
        position: relative;
        &:after {
            content: "";
            border-top: 5px solid #e31837;
            width: 80px;
            position: absolute;
            bottom: -20px;
            left: 50%;
            margin-left: -40px;
            -webkit-transition: width 0.5s ease-out;
            transition: width 0.5s ease-out;
        }

        &:hover {
            &::after {
                width: 120px;
            }
        }
    }
    .et_pb_lead {
        max-width: 1020px;
        .et_pb_text_inner {
            @include font-size(20px);
            color: mix($charcoal, $white, 60%);
            @include breakpoint-up(md) {
                @include font-size(24px);
            }
            padding-bottom: 0;
            @include margin-bottom(2rem);
        }
    }
    .et_pb_custom_post_meta {
        .et_pb_module_header {
            color: mix($charcoal, $white, 60%);
            a {
                text-decoration: none !important;
                font-weight: 700;
                color: mix($charcoal, $white, 85%);
            }
        }
    }
    .et_pb_post_content,
    & p {
        color: mix($charcoal, $white, 80%);
        @include font-size(18px);
        @include margin-bottom(2rem);
        padding-bottom: 0;
        line-height: 1.7;
        text-align: justify;
        @include breakpoint-up(md) {
            @include font-size(20px);
        }
        a.has-white-color {
            color: $white !important;
            text-decoration: none !important;
        }
        ol {
            margin-left: 3rem;
            @include margin-bottom(2rem);
            li {
                text-align: left;
                list-style-type: decimal;
                margin-bottom: 1rem;
            }
        }
        ul {
            margin-left: 3rem;
            @include margin-bottom(2rem);
            li {
                text-align: left;
                list-style-type: disc;
                margin-bottom: 1rem;
            }
        }
        h2 {
            @include margin-top(4rem);
            @include margin-bottom(0.25rem);
            text-align: left;
        }
        h3 {
            @include margin-top(3rem);
            @include margin-bottom(0.25rem);
            text-align: left;
        }
        h4 {
            @include margin-top(2rem);
            @include margin-bottom(0.25rem);
            text-align: left;
        }
    }
    #was-this-helpful {
        @include margin-top(6rem);
    }
    .et_pb_posts_nav {
        a {
            text-decoration: none;
            border: 1px solid rgba($charcoal, 0.9);
            padding: 0.75rem 1rem;
            color: $charcoal;
            font-weight: 600;
            @include font-size(18px);
            white-space: nowrap;
            overflow: hidden;
            border-radius: 3px;
            text-overflow: ellipsis;

            &:focus {
                outline: none;
                box-shadow: 0 0 0 0.25rem rgba($charcoal, 0.5);
            }

            border-color: mix($charcoal, $white, 30%);
            color: mix($charcoal, $white, 60%);

            &:hover {
                border-color: mix($charcoal, $white, 50%);
                color: mix($charcoal, $white, 80%);
            }
        }
    }
    .et_pb_tandcs_footer {
        @include padding-bottom(3rem);
        border-bottom: 1px solid mix($charcoal, $white, 15%);
        @include padding-top(3rem);
        border-top: 1px solid mix($charcoal, $white, 15%);
        .et_pb_module {
            margin-bottom: 0;
        }
        h4 {
            color: mix($charcoal, $white, 60%);
            @include font-size(15px);
        }
        p {
            font-weight: 300;
            @include font-size(14px);
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}
