.et_pb_blurb {
	//background-color: pink;
	@include margin-bottom(0.5rem);
	transition: all 0.5s ease-in-out;


	.et_pb_blurb_container {
		@include breakpoint-up('lg') {
			max-width: 640px;
		}

		.et_pb_blurb_description {
			@include font-size(16px);
			margin-top: auto;
		}
		
	}

	&_position_left {
		.et_pb_main_blurb_image {
			margin-left: 0;
		}
	}

	&_position_top {
		.et_pb_blurb_content {
			.et_pb_main_blurb_image {
				@include margin-bottom(1.5rem);
			}
		}
	}

	&.et_pb_text_align_center {
		.et_pb_blurb_container {
			margin-left: auto;
			margin-right: auto;
		}
	}
	&.et_pb_bg_layout_light {
		.et_pb_module_header {
			//@include link-effect($charcoal)
		}
	}
	&.et_pb_bg_layout_dark {
		.et_pb_module_header {
			//@include link-effect($white)
		}
	}
}
.et_pb_button_logo_block {
flex-wrap: wrap;
	.et_pb_column {
		display: flex;
		flex-direction: column;
		.et_pb_blurb {
			.et_pb_module_header {
				@include margin-bottom(0.5rem);
			}
			.et_pb_main_blurb_image {
				width:50%;
	
				min-width: 180px;
				display: block;
				@include breakpoint-up('md') {
					height: 100px;
				}
			}
			.et_pb_blurb_description { 
				@include margin-bottom(0.5rem);
				p {
					color: mix($charcoal, $white, 50%);
					@include font-size (18px);
			}
		}}
		.et_pb_button_module_wrapper {
			margin-bottom: 0;
			margin-top: auto;
		}
	}
}