.et_pb_blurb {
	//background-color: pink;
	@include margin-bottom(0.5rem);


	.et_pb_blurb_container {
		@include breakpoint-up('lg') {
			max-width: 640px;
		}

		.et_pb_blurb_description {
			@include font-size(16px);
			margin-top: auto;
		}
	}

	&_position_left {
		.et_pb_main_blurb_image {
			margin-left: 0;
		}
	}

	&_position_top {
		.et_pb_blurb_content {
			.et_pb_main_blurb_image {
				@include margin-bottom(1.5rem);
			}
		}
	}
}
