//Custom
.et_pb_module .et_pb_button:hover,
.et_pb_button:hover {
	padding: 0.75rem 1rem;
}
.et_pb_button {
	text-decoration: none;
	border-color: rgba($charcoal, 0.9);
	padding: 0.75rem 1rem;
	color: $charcoal;
	font-weight: 600;
	@include font-size(18px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	&:focus {
		outline: none;
		box-shadow: 0 0 0 0.25rem rgba($charcoal, 0.5);
	}

	&:hover {
		padding-right: 2.5rem !important;
	}
	&.et_pb_btn_nohover {
		&:hover {
			padding-right: 1rem !important;
		}
		&::after {
			content: none;;
		}
		&.et_pb_btn_small {
			&:hover {
				padding-right: 0.7rem !important;
			}
		}
	}
	&.et_pb_btn_right {
		&:hover {
			padding-right: 1rem;
			padding-left: 2.5rem !important;
		}
	}
	&.et_pb_btn_small {
		padding: 0.25rem 0.5rem;
		@include font-size(16px);

		&:hover {
			padding: 0.25rem 2rem 0.25rem 0.5rem;
		}
	}

	&.et_pb_btn_green {
		background-color: $green;
		border-color: darken($green, 0.3);
		color: $white;

		&:hover {
			background-color: darken($green, 5%);
		}
	}

	&.et_pb_btn_muted {
		border-color: mix($charcoal, $white, 30%);
		color: mix($charcoal, $white, 60%);

		&:hover {
			border-color: mix($charcoal, $white, 50%);
			color: mix($charcoal, $white, 80%);
		}
	}

	&.et_pb_bg_layout_dark {
		background-color: rgba($white, 09);
		color: $charcoal !important;
		border-color: rgba($charcoal, 0.9);

		&:focus {
			outline: none;
			box-shadow: 0 0 0 0.25rem rgba($white, 0.5);
		}
	}
}

.et_pb_btn_row_center {
	@include buttons_row(center);
}
.et_pb_btn_row {
	@include buttons_row(left);
}