.et_pb_gallery_grid {

	.et_pb_gallery_items {
		display: flex;
		flex-wrap: wrap;
		transition: height .2s ease-in-out;
	}

	.et_pb_gallery_item {
		margin-bottom: 0;

		.et_pb_gallery_title {
			margin-top: 10px;
		}

		h3 {
			margin-top: 10px;
		}

		display: none;
		opacity: 1;
		-webkit-animation: fadeLeft 1s 1 cubic-bezier(.77, 0, .175, 1);
		-moz-animation: fadeLeft 1s 1 cubic-bezier(.77, 0, .175, 1);
		-o-animation: fadeLeft 1s 1 cubic-bezier(.77, 0, .175, 1);
		animation: fadeLeft 1s 1 cubic-bezier(.77, 0, .175, 1);
	}

	.et_pb_gallery_image {
		overflow: hidden;
		position: relative;
	}
}

#page-container {
	.et_pb_logo_grid {
		.et_pb_gallery_items {
			@include margin-top(3rem);
			@include margin-bottom(3rem);
			justify-content: space-between;
		}

		.et_pb_grid_item {
			width: 33.333%;
			max-width: 240px;
			margin-right: 0;
			margin-bottom: 0;
			pointer-events: none;

			a {
				.et_overlay {
					display: none;
				}
			}

			@include breakpoint-up(md) {
				width: 20%;
			}

		}
	}

}
