#main-header {
	box-shadow: 0 0.125rem 0.625rem 0 rgba($charcoal, 0.1);


	#et-secondary-menu > ul > li a {
		display: block;
		padding: 0.75em 0.75em;
		margin-top: -0.75em;
		border-bottom: 2px solid #e31837;
	}


	.nav {
		.sub-menu {
			top: 35px;
			background-color: #e31837;

			&:after {
				bottom: 100%;
				left: 30px;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: transparent;
				border-bottom-color: #e31837;
				border-width: 17.5px;
				margin-left: -17.5px;
			}

			li {
				width: 100%;

				a {
					width: 100%;
					color: rgba($white, 0.9);
					white-space: nowrap;
					font-family: 'Lato';
					border-bottom: 2px solid #e31837;
					padding: 0.5rem 0;

					&:hover {
						border-bottom-color: #fff;
						background-color: inherit;
						color: #fff;
						opacity: 1
					}
				}
			}
		}
	}
}

.et_mobile_menu {
	padding: 1rem;

	.menu-item-has-children > a {
		font-weight: 700;
		padding-top: 1rem;
		background-color: transparent;
	}

	li a {
		border-bottom: 0;
		padding: 0.5rem
	}

	.sub-menu li a {
		font-family: 'Lato';
		font-weight: normal
	}
}

#main-header .et_mobile_menu li .sub-menu {
	padding-left: 0
}
