#global-header-section {
	box-shadow: 0 0.125rem 0.625rem 0 rgba($charcoal, 0.1);
	padding-top: 0;
	padding-bottom: 0;

	.et_pb_header_logo {
		margin-top: 0;
		margin-left: 0;
		margin-right: auto;
		display: flex;

		.et_pb_code_inner {
			display: flex;
		}

		svg {
			width: 100%;
			height: auto;
			margin-top: auto;
			margin-bottom: auto;
		}

		@include breakpoint-up(lg) {
			margin-bottom: -4rem;
			width: 15vw;
			height: 7.5vw;

			svg {
				flex: 1;
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}


	.et-menu {
		display: flex;
		margin-left: -0.75rem;
		margin-right: -0.75rem;
		margin-bottom: 0;

		li {
			a {
				color: $charcoal;
				display: block;
				font-family: 'Montserrat';
				text-decoration: none;
				white-space: nowrap;
				padding: 1.5rem 1.25rem;
				font-weight: 700;

				&:hover {}
			}
		}

	}

	.et_pb_header_top_row {
		display: flex;
		@include padding-bottom(0.5rem);
		@include padding-top(0.5rem);
		//background-color: lighten($charcoal, 75);

		.et_pb_column {
			display: flex;
			flex: 1;
			align-items: center;
			justify-content: flex-end;

			.et-menu {
				margin-left: -0.25rem;
				margin-right: -0.25rem;
			}

			.et_pb_menu {
				margin-bottom: 0;
				margin-right: auto;
				margin-left: 0;

				li {
					a {
						font-family: 'Lato';
						@include font-size(16px);
					}
				}
			}

			.et_pb_button_module_wrapper {
				margin-bottom: 0;

				& + .et_pb_button_module_wrapper {
					margin-left: 1rem;
				}
			}

		}
	}

	.et_pb_header_main_row {
		display: none;

		@include breakpoint-up(lg) {
			display: flex;
		}

		.et_pb_column--with-menu {

			display: flex;
			justify-content: space-between;

			.et_pb_menu {
				margin-top: auto;
				margin-bottom: 0;
			}
		}

		.et_pb_menu_ancillary li a {
			color: lighten($charcoal, 15);
			font-weight: 400;
		}

		.et_pb_core_product_menu li a {
			font-weight: 700
		}

		.menu-item-has-children > a:first-child:after {
			font-family: ETmodules;
			content: "3";
			position: absolute;
			right: 0;
			top: 1.5rem;
			;
			font-weight: 800;
		}
	}

	.nav {
		.sub-menu {
			top: 35px;
			background-color: #e31837;

			&:after {
				bottom: 100%;
				left: 30px;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: transparent;
				border-bottom-color: #e31837;
				border-width: 17.5px;
				margin-left: -17.5px;
			}

			li {
				width: 100%;

				a {}
			}
		}
	}
}

.et_mobile_menu {
	padding: 1rem;

	.menu-item-has-children > a {
		font-weight: 700;
		padding-top: 1rem;
		background-color: transparent;
	}

	li a {
		border-bottom: 0;
		padding: 0.5rem
	}

	.sub-menu li a {
		font-family: 'Lato';
		font-weight: normal
	}
}

#main-header .et_mobile_menu li .sub-menu {
	padding-left: 0
}
