#was-this-helpful {
  background-color: mix($charcoal,$white,20%);
  margin-top: 0;
 @include padding(1rem);
  border-radius: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  * {
    -webkit-transition: background-color 200ms, box-shadow 200ms;
    transition: background-color 200ms, box-shadow 200ms;
  }
}

#wthf-title, #wthf-yes-no {
  display: inline-block;
}

#wthf-title {
  padding-right: 2em;
}

#wthf-yes-no span {
  border-radius: $border-radius;
  background-color:$white;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
		@include font-size(16px);
  box-shadow: 0;
  border-color: mix($charcoal, $white, 30%);
  color: mix($charcoal, $white, 60%);
  &:hover {
      border-color: mix($charcoal, $white, 50%);
      color: mix($charcoal, $white, 80%);
  }
  &:active {
    background-color:mix($charcoal, $white, 30%);
    box-shadow: 0;
  }

  &:first-child {
    margin-right: 0.4em;
  }

  &:last-child {
    margin-left: 0.4em;
  }
}

#was-this-helpful.wthf-disabled {
  pointer-events: none;
  position: relative;

  * {
    opacity: 0;
  }

  &:after {
    content: attr(data-thank-text);
    display: block;
    position: absolute;
  }
}