#page-container {
	.et_pb_section {
		@include padding-bottom(8rem);
		@include padding-top(8rem);
	}

	.et_pb_row {
		@include padding-bottom(0);
		@include padding-top(0);
	}

	.et_pb_section_hero {
		@include padding-bottom(12rem);
		@include padding-top(12rem);

		@include breakpoint-up(lg) {
			h2 {
				@include font-size(4.209rem);
			}
		}

		p {
			@include font-size(20px);
			max-width: $max-text-col;
		}

		.et_pb_module {
			@include margin-bottom(3rem);

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

}

.et_pb_column {
	.et_pb_code:only-child {
		margin-bottom: 0;
	}
}
