
.et_pb_newsletter_custom  {
    flex-direction: column!important;
    .et_pb_newsletter_description {
        width: 100%;
        padding-left: 0;
    }
    .et_pb_newsletter_form {
        width: 100%;
    }
    @include breakpoint-up(md) {
        flex-direction: row;
        .et_pb_newsletter_description {
            width: 50%;
        }
        .et_pb_newsletter_form {
            width: 50%;
        }
    }
}