//Main

body {
	font-family: "Lato", sans-serif;
	color: mix($charcoal, $white, 80%);
	@include font-size(16px);
	@include breakpoint-up(md) {
		@include font-size(18px);
	}
	font-weight: 400;
}

p {
	@include font-size(16px);
	line-height: 1.7;
	@include breakpoint-up(md) {
		@include font-size(18px);
	}
}

p.et_pb_lead {
	@include font-size(18px);
	@include breakpoint-up(md) {
		@include font-size(22px);
	}
	@include margin-bottom(2rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat";
	padding-bottom: 0;
	@include margin-bottom(0.5rem);
	@include rfs(1rem, margin-top);
	@include rfs(0.25rem, margin-bottom);
	line-height: 1.2;
	color: $charcoal;
	font-weight: 700;

	&:first-child {
		margin-top: 0;
	}
}

.display-text,
.page-title {
	@include font-size(6.3135rem);
	@include rfs(6.3135rem, margin-top);
}

h1 {
	@include rfs(4.209rem, margin-top);
	@include font-size(4.209rem);
	@include rfs(0.75rem, margin-bottom);
}

h2 {
	@include rfs(3.157rem, margin-top);
	@include font-size(2.357rem);
	@include rfs(0.5rem, margin-bottom);

	&.display-text {
		@include font-size(3.157rem);
		margin-top: 0;
		@include rfs(1rem, margin-bottom);
	}
}

h3 {
	@include rfs(1.333rem, margin-top);
	@include font-size(1.333rem);
	@include rfs(0.25rem, margin-bottom);
}

h4 {
	@include rfs(1.125rem, margin-top);
	@include font-size(1.125rem);
	font-weight: 600;
}

h5 {
	@include rfs(1rem, margin-top);
	@include font-size(1rem);
	font-weight: 600;
}

// Divi Specific
.et_pb_module_header {
	margin-top: 0;
}

// Links

.et_pb_module a:not(.et_pb_button) {
	color: $dark-blue;
	text-decoration: underline;

	&:focus {
		outline: 3px solid transparent;
		color: #0b0c0c;
		background-color: $yellow;
		-webkit-box-shadow: 0 -2px $yellow, 0 4px $charcoal;
		box-shadow: 0 -2px $yellow, 0 4px $charcoal;
		text-decoration: none;
	}
}

// Paragraphs
small {
	font-size: 80%;
	font-weight: 300;
}

//
.page-title {
	position: relative;
	padding-bottom: 1rem;
	@include rfs(2rem, margin-bottom);

	&:after {
		content: "";
		border-top: $red 5px solid;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 150px;
	}
}

// Blog Typography
.post-template {
	.et_pb_title_container h1 {
		@include font-size(4.209rem);
		text-align: center;
		@include rfs(3rem, margin-bottom);
	}

	.et-l--post {
		p {
			@include font-size(18px);
			line-height: 1.9;
		}
	}
}
// Responsive text alignment
.et_pb_text_align_left-phone {
	@include breakpoint-down(sm) {
		text-align: left;
	}
}
//Preheader
.et_pb_preheader {
	@include font-size(1.125rem);
	font-size: rgba($charcoal, 0.7);
	& + h2 {
		@include rfs(1rem, margin-top);
	}
}
// Feature Boxes
.et_pb_row_feature_boxes {
 display: flex;
 flex-wrap: wrap;
 .et_pb_column {
	 
	 border-radius: $border-radius-lg;
	 @include rfs(1.5rem, padding-bottom);
	 @include rfs(1.5rem, padding-top);
	 @include rfs(1.5rem, padding-left);
	 @include rfs(1.5rem, padding-right);
width:100%;
	 background-color: mix($light-blue,$white,25%);
	 @include rfs(1.5rem, margin-bottom);
	 @include breakpoint-up(md) {
		width: calc( 50% - #{2 * $gutter-3});
		margin-right: $gutter-3 * 2;
	 }
 }
}
// APR| Table
table.et_pb_apr_table {
	border: none;
	margin: 0 0 1.5rem 0;
	tr {
		td {
			border-top: none;
			border-bottom: 1px solid rgba($charcoal, 0.5);
			padding: 0.5rem 0;
			font-size: 1rem;

		}
		th {
			color: $charcoal;
			padding: 0.5rem 0;
			border-bottom: 2px solid rgba($charcoal, 0.75);
		}
		&:last-of-type {
			td {
			border-bottom: none;
			}
		}
	}
}
