.et_pb_notice {
	@include font-size(14px);
	@include padding(0.5rem);
@include breakpoint-up(md) {
	@include padding(1rem);
	@include font-size(16px);
}
	strong {
		color: $charcoal;
	}
	p {
		@include font-size(16px);
	}
	a {
		white-space: nowrap;
	}
}

/* Equalize Column Heights */
.et_pb_row.et_pb_equal_columns,
.et_pb_row_inner.et_pb_equal_columns,
.et_pb_section.et_pb_equal_columns > .et_pb_row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	direction: ltr;
}

/* Modify column's order in equalize column row so clearfix is displayed early and its
     actual width (0px) remains to avoid unwanted window's unwanted horizontal scroll */
.et_pb_section.et_pb_equal_columns > .et_pb_row > .et_pb_column,
.et_pb_row.et_pb_equal_columns > .et_pb_column {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
}

.et_pb_title_row {
	@include margin-bottom(3rem);

	h2 {
		@include breakpoint-up(lg) {
			@include font-size(4.209rem);
		}

		position: relative;
		padding-bottom: 1.5rem;
		@include margin-bottom(1.5rem);

		&:after {
			content: "";
			border-top: 5px solid $red;
			width: 80px;
			position: absolute;
			bottom: 0;
			left: 0;
			transition: width 0.5s ease-out;
		}
	}

	&:hover {
		h2:after {
			width: 120px;
		}
	}
}
.et_pb_row_nowrap {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	.et_pb_image_wrap {
		display: flex;
		.et-pb-icon {
			margin: auto;
		}
	}
}

.et_pb_checkmark {
	@include margin-bottom(0.5rem);
	.et_pb_blurb_content {
		display: flex;
		flex-direction: row;
	}
	.et_pb_blurb_container {
		display: flex;
		flex-direction: column;
	}
	.et_pb_image_wrap,
	.et_pb_main_blurb_image {
		width: 32px;
		margin-bottom: 0;
	}
	.et-pb-icon {
		font-size: 32px;
	}
	.et_pb_module_header {
		margin-top: auto;
		margin-bottom: auto;
		
			@include font-size(16px);
			line-height: 1.7;
			@include breakpoint-up(md) {
				@include font-size(18px);
			}
		
	}
	&:last-of-type {
		@include margin-bottom(0);
	}
}
.et_pb_mobile_vertical_align {
	display: flex;

	.et_pb_blurb_content {
		flex: 1;
		display: flex;
	}
	.et_pb_main_blurb_image {
		margin-bottom: 0 !important;
	}
	.et_pb_blurb_container {
		padding-left: 1.5rem;
		flex: 1;
		flex-direction: column;
		display: flex;
		margin-top: auto;
		align-self: center;
		margin-bottom: auto;
	}
}
@mixin buttons_row($align) {
	display: flex;

	.et_pb_column {
		flex: 1;
		display: flex;
		flex-wrap: wrap;
		justify-content: $align;

		.et_pb_button_module_wrapper {
			width: 100%;
			margin-bottom: 0.5rem;

			a {
				display: block;
				text-align: center;
			}

			@include breakpoint-up(sm) {
				width: auto;
				margin-bottom: 0;

				& + .et_pb_button_module_wrapper {
					margin-left: 1rem;
				}
			}
		}
	}
}

.et_pb_btn_row_center {
	@include buttons_row(center);
}
.et_pb_btn_row {
	@include buttons_row(left);
}
// Testimonials
.et_pb_testimonial_body {
	quotes: "“" "”" "‘" "’";
border-left: none;
position: relative;
p {
	@include breakpoint-up(lg) {
@include font-size(20px);
	}
}
&:before {
	width: 20px;
    font-size: 120px;
    left: -30px;
    top: 20px;
	display:block;
	position: absolute;
    content: open-quote;
	color: mix($blue,$white, 30%);
}
&:after {
	width: 20px;
    font-size: 120px;
    right: -20px;
bottom: 20px;
	display:block;
	position: absolute;
    content: close-quote;
	color: mix($blue,$white, 30%);
}
footer {
	@include margin-top(1.5rem);
	font-family: 'Montserrat';
	font-weight: 700;
	color: $charcoal;
	cite {
		font-weight: 500;
		font-style: normal;
	}
}
}
// Item List
.entry-content {
	ul.dlm-downloads, ul.et_pb_item_list {
	list-style-type: none;
	padding-left:0;
	li {
padding: 0;
margin:0;
@include margin-bottom(0.25rem);
@include margin-top(0.25rem);
padding-bottom: 0;
a {
	display: block;
	border-bottom:1px solid mix($charcoal, $white, 5%);
	@include padding(0.25rem);
	padding-left: 0;
	padding-right: 0;
	@include margin-bottom(0.25rem);
	text-decoration: none;
	color: $body-color;
	&:hover {
		color: $charcoal;
	}
	&:focus {
		background-color: transparent;
		box-shadow: none;
	}
}
	}

}}
.et_pb_team_member {
	.et_pb_member_position {
		color: mix($charcoal, $white, 75%);
		font-family: 'Montserrat';
		@include margin-bottom(1.5rem);
		border-left: 4px solid mix($charcoal, $white, 15%);
		@include padding-left(0.5rem);
	}
}